.todoListMain .header input{
    padding:10px;
    font-size: 16px;
    border: 1px solid rgb(49, 48, 48);
    width: 165px;
    background-color: black;
    color: rgb(229, 235, 234);
}

.todoListMain .header button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: background-color .2s ease-out;

}

.todoListMain .header button:hover{
    background-color: rgb(109, 228, 98);
    border: 2px solid black;
    cursor: pointer;
}

.todoListMain .theList li{
    color: rgb(248, 248, 248);
    background-color: rgba(5, 5, 5, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius:5px;
    list-style: none;
    transition: background-color .2s ease-out;
}

.todoListMain .theList li:hover{
    background-color: rgb(231, 122, 140);
    cursor: pointer;
}

ul.theList{
    padding: 0;
}

